@layer component {
  .top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    height: 90px;
  }

  .nav-links {
    display: flex;
    gap: 48px;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }

  .nav-link {
    padding: 5px;
    white-space: nowrap;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -1%;
  }

  .right-items {
    gap: 10px;
  }

  .logo-link {
    display: contents;
  }
}