@layer page {
  /* Results page only*/

  .ent-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #585860;
    margin-block: 40px;
  }

  #amount {
    border: none;
    appearance: textfield;
    background-color: inherit;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: 0.5%;
    text-align: center;
    color: var(--primary);
    outline: none;
    width: 125px;
    padding: 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-block: 40px;
  }

  .exchange-results,
  .refresh-data {
    text-align: center;
  }

  #last-update {
    margin: 0;
  }

  .exchange-results {
    margin-bottom: 24px;
  }

  #target-amount {
    margin: 0;
  }

  #base-amount {
    margin-bottom: 5px;
  }
}